a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: url("../images/bg.jpg");
    background-size: 100%;
}

.patternbg {
    background: url("../images/mbg.png");
}

.table>:not(caption)>tr.unused td,
.table>:not(caption)>tr td.unused {
    color: gray;
}

ul {
    margin: 0;
    padding: 0;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.table tbody,
.table td,
.table tfoot,
.table th,
.table thead,
.table tr {
    padding: 5px !important;
    vertical-align: middle;
}

.container-fluid {
    float: left;
}

.customenav .nav-link {
    font-weight: 700;
    color: #003851;
    padding: 15px 15px !important;
}

.navbar {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    height: 115px;
    border-color: #e7e7e7;
    height: 115px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.middle-box {
    margin-top: 155px;
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .89)), color-stop(100%, rgba(229, 229, 229, .89)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.middle-box h1 {
    font-size: 42px;
    margin: 0 0 15px;
    padding: 0;
    line-height: 46px;
}

.middle-box p {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 21px;
}

.btn-primary {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.event-left-img {
    width: 100%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .89)), color-stop(100%, rgba(229, 229, 229, .89)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, .89) 0%, rgba(229, 229, 229, .89) 100%);
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.event-left-img img {
    width: 95%;
    margin: 15px;
}

.event-right-box {
    width: 100%;
    height: 151px;
    background: #003851;
    margin: 0;
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.event-right-box h1 {
    font-size: 19px;
    padding: 10px;
    font-weight: 800;
}

.event-text {
    width: 100%;
    height: 100%;
    background: #001C28;
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    padding: 15px;
}

.event-text h2 {
    color: #EEE;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
}

footer {
    margin-top: 25px;
    width: 100%;
    height: 121px;
    background: rgba(0, 56, 81, .95);
    color: #fff;
    padding: 15px;
    border-top: 1px solid #195B7D;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
}

.footer-common h1 {
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 10px;
}

.footer-events {
    line-height: 18px;
    border-right: 1px solid #195B7D;
    height: 100px;
    font-size: 13px;
}

.footer-links {
    border-right: 1px solid #195B7D;
    height: 100px;
}

.footer-links ul {
    list-style: none;
    font-size: 13px;
}

.footer-contact {
    font-size: 13px;
}

/**/
.container-fluid.topsection {
    margin-top: 160px;
}

.common-section-div {
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 35px;
    padding: 20px 20px 15px;
}

.page-title h1 {
    font-size: 36px;
}

.sbox h2 {
    font-size: 22px;
    font-weight: 800;
}

.sbox p {
    margin-bottom: 10px;
}

.common-section-div.mb {
    margin-bottom: 165px;
}

table.participants {
    border: 1px;
}

table.participants td,
table.participants thead,
table.participants tr {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}

@media (max-width: 767px) {
    .navbar-open {
        background: url("../images/mobile-menu-bar.png");
        width: 25px;
        height: 25px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .navbar-close {
        background: url("../images/close.png");
        width: 25px;
        height: 25px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-header .navbar-toggler {
        float: right;
        margin-top: 17px;
    }

    .navbar-brand img {
        max-width: 220px;
    }

    .navbar {
        height: 100px;
    }

    .navbar-nav {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
    }

    .middle-box h1 {
        font-size: 28px;
        line-height: 35px;
    }

    .mbox {
        padding: 30px 20px !important;
    }

    .event-left-col {
        margin-bottom: 30px;
    }

    .row {
        margin-left: auto;
        margin-right: auto;
    }

    footer.fixed-bottom {
        position: inherit;
        height: auto;
        margin-top: 50px;
        float: left;
    }

    .footer-events,
    .footer-links {
        border-right: none;
    }

    .event-right-box {
        height: auto;
    }

    .navbar-expand-sm .navbar-toggler {
        display: block;
    }

    .collapse:not(.show) {
        display: none;
    }

    .navbar-header .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-header .navbar-toggler {
        border: none;
    }

    .navbar-header .navbar-toggler span {
        font-size: 30px;
        color: #003851;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    header nav.navbar {
        display: inherit;
        text-align: center;
        padding-bottom: 25px;
        height: 130px;
    }

    .navbar-header .navbar-brand img {
        max-width: 230px;
    }

    header nav.navbar .container {
        display: inherit !important;
    }

    .middle-box h1 {
        font-size: 38px;
        line-height: 45px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .customenav .nav-link {
        padding: 15px 12px !important;
    }

    .navbar-header .navbar-brand img {
        max-width: 230px;
    }

    .navbar-expand-md .navbar-collapse {
        justify-content: end;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .customenav .nav-link {
        padding: 15px 12px !important;
    }

    .navbar-header .navbar-brand img {
        max-width: 265px;
    }

    .navbar-expand-md .navbar-collapse {
        justify-content: end;
    }

    .middle-box h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 575px) {
    .sbox ul {
        padding-left: 20px !important;
    }

    .sbox ul ul {
        padding-left: 10px !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1164px;
    }
}
